<%- include("partials/registerHeader"); -%>

<h1>Register Page</h1>

<form class="" action="/register" method="post">
<div class="form-group">
  <label>First Name</label>
  <input class="form-control" type="text" name="fName" placeholder="Enter your first name" style="width:30%;"><br>
  <label>Last Name</label>
  <input class="form-control" type="text" name="lName" placeholder="Enter your last name" style="width:30%;"><br>
  <label>Email id</label>
  <input class="form-control" type="email" name="email" placeholder="Enter your email" style="width:30%;"><br>
  <label>Password</label>
  <input class="form-control" type="password" name="password" placeholder="Enter your password" style="width:30%;"><br>
</div>
<button class="btn btn-primary" type="submit" name="button">Register</button>
</form>
